<div>
    <h2 id="page-heading">
        <span jhiTranslate="certificatcaciApp.importateur.home.title">Importateurs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-importateur" [routerLink]="['/importateur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="certificatcaciApp.importateur.home.createLabel">
            Create a new Importateur
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="importateurs?.length === 0">
        <span jhiTranslate="certificatcaciApp.importateur.home.notFound">No importateurs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="importateurs && importateurs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="raisonSocial"><span jhiTranslate="certificatcaciApp.importateur.raisonSocial">Raison Social</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="formeJuridique"><span jhiTranslate="certificatcaciApp.importateur.formeJuridique">Forme Juridique</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="secterActivite"><span jhiTranslate="certificatcaciApp.importateur.secterActivite">Secter Activite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mobile"><span jhiTranslate="certificatcaciApp.importateur.mobile">Mobile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telFix"><span jhiTranslate="certificatcaciApp.importateur.telFix">Tel Fix</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="certificatcaciApp.importateur.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="siteWeb"><span jhiTranslate="certificatcaciApp.importateur.siteWeb">Site Web</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresse"><span jhiTranslate="certificatcaciApp.importateur.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeImportateur"><span jhiTranslate="certificatcaciApp.importateur.typeImportateur">Type Importateur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fax"><span jhiTranslate="certificatcaciApp.importateur.fax">Fax</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="entreprise.id"><span jhiTranslate="certificatcaciApp.importateur.entreprise">Entreprise</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let importateur of importateurs ;trackBy: trackId">
                    <td><a [routerLink]="['/importateur', importateur.id, 'view']">{{ importateur.id }}</a></td>
                    <td>{{ importateur.raisonSocial }}</td>
                    <td>{{ importateur.formeJuridique }}</td>
                    <td>{{ importateur.secterActivite }}</td>
                    <td>{{ importateur.mobile }}</td>
                    <td>{{ importateur.telFix }}</td>
                    <td>{{ importateur.email }}</td>
                    <td>{{ importateur.siteWeb }}</td>
                    <td>{{ importateur.adresse }}</td>
                    <td>{{ importateur.typeImportateur }}</td>
                    <td>{{ importateur.fax }}</td>
                    <td>
                        <div *ngIf="importateur.entreprise">
                            <a [routerLink]="['/entreprise', importateur.entreprise?.id, 'view']" >{{ importateur.entreprise?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/importateur', importateur.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/importateur', importateur.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(importateur)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="importateurs && importateurs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
